GPUtil==1.4.0
opencv_python==4.10.0.84
plyfile==1.1.2
setuptools==75.1.0
numpy==1.26.4
torch==2.0.1+cu117
torchvision==0.15.2+cu117
tqdm==4.66.5
submodules/diff-gaussian-rasterization
submodules/simple-knn